Thumbs.db
.DS_Store
node_modules
*.log
config.json
.eslintcache
.stylelintcache
.nyc_output
coverage
test-reports
releases
.env
package-lock.json
build/**
data
out
forge.tmp.json
forge-bundle
maps-data
.firebase
.yarn
functions/static/**
