<!DOCTYPE html>
<html lang="de" role="application" data-rh="true">
  <head>
    <meta charset="utf-8" />
    <title data-rh="true">mHealth</title>
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
